[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pcIRT"]
	path = pcIRT
	url = https://github.com/christinehohensinn/pcirt
	shallow = true
	registered = true
